@model BookLibrary.Models.BookModel

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>BookModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher" class="control-label"></label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class`="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <form asp-action="Add">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <!-- Other input fields for book properties -->
                        <div class="form-group">
                            <label for="AuthorCount">Number of Authors</label>
                            <select id="AuthorCount" class="form-control" onchange="addAuthorInputs()">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>

                        <div id="authorInputsContainer"></div>

                        <input type="submit" value="Submit" />

                    </form>
                </div>
            </div>
            <script>
                function addAuthorInputs() {
                    var authorCount = document.getElementById("AuthorCount").value;
                    var container = document.getElementById("authorInputsContainer");
                    container.innerHTML = "";

                    for (var i = 0; i < authorCount; i++) {
                        var input = '<div class="form-group">' +
                            '<label for="Authors[' + i + '].ID">Author ' + (i + 1) + '</label>' +
                            '<select name="Authors[' + i + '].ID" class="form-control" onchange="updateAuthorLabel(this, ' + i + ')">' +
                            '<option value="">Select an author</option>';

                        // Add authors from the database here
                @foreach (var author in Model.Authors)
                {
                    <text>
                                input += '<option value="@author.ID">@author.Name</option>';
                    </text>
                }

                            input += '</select></div>';

                        container.innerHTML += input;
                    }
                    document.getElementById("AuthorCountHidden").value = authorCount;
                }

                function updateAuthorLabel(selectElement, index) {
                    var selectedOption = selectElement.options[selectElement.selectedIndex];
                    var labelElement = document.querySelector('label[for="Authors[' + index + '].ID"]');
                    var authorNameInput = document.querySelector('input[name="Authors[' + index + '].Name"]');

                    // Update the label with the selected author name or "Empty" if no author is selected
                    if (selectedOption.value !== "") {
                        labelElement.textContent = "Author " + (index + 1) + ": " + selectedOption.text;
                        authorNameInput.value = selectedOption.text; // Set the author name in the corresponding hidden input field
                    } else {
                        labelElement.textContent = "Author " + (index + 1) + ": Empty";
                        authorNameInput.value = ""; // Clear the author name in the corresponding hidden input field
                    }

                }

            </script>


        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

